Repository AcademySoftwareFoundation/OpenImageIO, pull requests merged in 2025-09, with the labels that each got.

#4881 ci: fix analysis workflow configuration
  .github/workflows/analysis.yml
Labels: build / testing / port / CI

#4880 feat(heif): Read and write of CICP and bit depth 10 and 12
  src/doc/builtinplugins.rst
  src/heif.imageio/heifinput.cpp
  src/heif.imageio/heifoutput.cpp
  testsuite/heif/ref/out-libheif1.12-orient.txt
  testsuite/heif/ref/out-libheif1.4.txt
  testsuite/heif/ref/out-libheif1.5.txt
  testsuite/heif/ref/out-libheif1.9-alt2.txt
  testsuite/heif/ref/out-libheif1.9-with-av1-alt2.txt
  testsuite/heif/ref/out-libheif1.9-with-av1.txt
  testsuite/heif/ref/out-libheif1.9.txt
  testsuite/heif/ref/test-10bit.avif
  testsuite/heif/run.py
Labels: file formats

#4879 fix: Switch to compile-commands
  .github/workflows/build-steps.yml
  sonar-project.properties
Labels: build / testing / port / CI

#4892 ci: Fix testsuite/heif ref output
  testsuite/heif/ref/out-libheif1.12-orient.txt
  testsuite/heif/ref/out-libheif1.4.txt
  testsuite/heif/ref/out-libheif1.5.txt
  testsuite/heif/ref/out-libheif1.9-alt2.txt
  testsuite/heif/ref/out-libheif1.9-with-av1-alt2.txt
  testsuite/heif/ref/out-libheif1.9-with-av1.txt
  testsuite/heif/ref/out-libheif1.9.txt
  testsuite/heif/run.py
Labels: build / testing / port / CI

#4855 fix: discard generated pystubs when in GHA environment
  .github/workflows/wheel.yml
  CMakeLists.txt
  pyproject.toml
  src/cmake/build_yaml-cpp.cmake
Labels: build / testing / port / CI, python

#4894 build: fix openjph target use
  src/cmake/testing.cmake
  src/jpeg2000.imageio/CMakeLists.txt
Labels: build / testing / port / CI

#4910 build: Update autobuild defaults for some dependencies
  .github/workflows/ci.yml
  INSTALL.md
  pyproject.toml
  src/build-scripts/build_OpenJPEG.bash
  src/build-scripts/build_libjpeg-turbo.bash
  src/build-scripts/build_libraw.bash
  src/build-scripts/build_libtiff.bash
  src/build-scripts/build_pugixml.bash
  src/build-scripts/build_pybind11.bash
  src/build-scripts/build_webp.bash
  src/build-scripts/ci-test.bash
  src/cmake/build_TIFF.cmake
  src/cmake/build_WebP.cmake
  src/cmake/build_libjpeg-turbo.cmake
  src/cmake/build_pybind11.cmake
  src/cmake/dependency_utils.cmake
Labels: build / testing / port / CI

#4905 feat(jpeg-xl): ICC read and write for JPEG-XL files (issue 4649)
  src/cmake/testing.cmake
  src/jpegxl.imageio/jxlinput.cpp
  src/jpegxl.imageio/jxloutput.cpp
  testsuite/jxl/ref/out.txt
  testsuite/jxl/ref/test-jxl.icc
  testsuite/jxl/run.py
Labels: file formats, devdays25
