Repository AcademySoftwareFoundation/OpenImageIO, pull requests merged in 2025-01, with the labels that each got.

#4600 fix(pdf): Perform endian byteswap on correct buffer area for PSD RLE
  src/psd.imageio/psdinput.cpp
  testsuite/psd/ref/out.txt
  testsuite/psd/run.py
Labels: bug, file formats

#4428 feat: Python wheels workflow and build backend
  .github/workflows/wheel.yml
  .gitignore
  CMakeLists.txt
  INSTALL.md
  Makefile
  pyproject.toml
  src/cmake/build_Freetype.cmake
  src/cmake/build_OpenColorIO.cmake
  src/cmake/build_PNG.cmake
  src/cmake/build_libdeflate.cmake
  src/cmake/compiler.cmake
  src/cmake/dependency_utils.cmake
  src/cmake/fancy_add_executable.cmake
  src/cmake/pythonutils.cmake
  src/iconvert/CMakeLists.txt
  src/idiff/CMakeLists.txt
  src/libOpenImageIO/CMakeLists.txt
  src/libutil/CMakeLists.txt
  src/python/__init__.py
Labels: build / testing / port / CI, python, roadmap

#4591 feat(oiiotool): oiiotool --layersplit, new command to split layers
  src/cmake/testing.cmake
  src/doc/oiiotool.rst
  src/oiiotool/oiiotool.cpp
  testsuite/oiiotool-layers/ref/out.txt
  testsuite/oiiotool-layers/ref/parts.exr
  testsuite/oiiotool-layers/run.py
  testsuite/oiiotool-layers/src/layers.exr
Labels: enhancement, feature request, oiiotool
